<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>  <%= baslik %> </title>
    <link rel="icon" href="resimler/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.js" charset="utf-8"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
​<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    ​
  </head>
  <body>
      <%- include("header") -%>

      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 bg font-weight-bold">

              <h2><%= baslik %></h2>
               <p><%= tarih %> | Okunma sayısı : <%= okunmasayisi %></p>
      <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 d-flex align-items-center justify-content-center font-weight-bold">
           <img width="100%" height="auto" src="<%= resim %>" alt="">
      </div>
      <div class="col-lg-9 col-md-9 col-sm-12 bg font-weight-bold">
      <p class="yazi font-weight-bold"><%= aciklama %></p>
      </div>
      </div>
  <%- include("yorum") -%>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <h3 class="cok-okunanlar renk text-white mb-0">En Sevilen Yazılarım..</h3>
      <ul class="list-group" >

      <%     for (var i = 0; i < cokOkunanlar.length; i++) {   %>
          <li class="list-group-item d-flex justify-content-between align-items-center baslik-hover">
          <a href="/yazi/<%= cokOkunanlar[i].id %>"><%= cokOkunanlar[i].baslik %></a>
            <span class="badge renk text-white badge-pill"><%= cokOkunanlar[i].okunmasayisi %></span>
          </li>

    <%        }   %>

    </ul>
    </div>

          </div>

        </div>





        <%- include("footer") -%>
  </body>
</html>
